body {
    text-align: center;
    font-family: Arial;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card {
    cursor: pointer;
    border: 2px solid #ccc;
    padding: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.1);
}

img {
    width: 200px;
    height: 200px;
}
